*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
    caret-color: #5c5bfb;
}

body{
    background: rgb(0, 0, 0);
    color:white;
}

html{
    scroll-behavior: smooth;
}

.box ul li {
	position: absolute;
	width: 35px;
	height: 35px;
	list-style: none;
	opacity: 0;
	background: radial-gradient(#5c5bfb, transparent, transparent);
	bottom: 0;
	left: 10vw;
	animation: animate 7s linear infinite;
}
.box ul li:nth-child(2) {
	left: 36vw;
	animation-delay: 2s;
}
.box ul li:nth-child(3) {
	left: 22vw;
	animation-delay: 4s;
}
.box ul li:nth-child(4) {
	left: 56vw;
	animation-delay: 6s;
}
.box ul li:nth-child(5) {
	left: 76vw;
	animation-delay: 4s;
}
.box ul li:nth-child(6) {
	left: 80vw;
	animation-delay: 8s;
}
@keyframes animate {
	0% {
		transform: scale(0);
		opacity: 1;
		bottom: 0;
	}
	100% {
		transform: scale(10);
		opacity: 0;
		bottom: 100vh;
	}
}


#header{
    width:100%;
    height: 86vh;
    background-image: url(images/front.png);
    background-size:cover ;
    background-position:right;
}

.container-1{
    padding:10px 10%;
    margin-top: 100px;
}
.container{
  padding:20px 10%;
  margin-top: 30px;
 
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    background:#000000;
    width: 100%;
    z-index: 3;
    padding: 0 30px;
    margin: 0;
}

.logo{
    width:140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:0px 20px;
}

nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}

nav ul li a::after{
    content: '';
    width:0;
    height:3px;
    background:#5c5bfb;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;

}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color:#5c5bfb;
}


#about{
    padding:40px 0;
    color: white;
}

.about-col-1 {
    position: relative; 
    display: inline-block; 
  }
  
.about-col-1 img {
width: 450px;
height: auto;
border: 2px solid transparent; 
border-radius: 10px;
transition: border-color 0.3s ease-in-out; 
}

.about-col-1 img:hover {
border-color: #5c5bfb; 
}

.about-col-1 {
    position: relative;
    display: inline-block;
  }
  
.about-col-1 img {
animation: pulse 2s infinite; /* Apply the pulse animation */
}

@keyframes pulse {
0% {
    transform: scale(1); /* Initial scale */
}
50% {
    transform: scale(1.1); /* Scaled up */
}
100% {
    transform: scale(1); /* Back to original scale */
}
}

.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width:100%;
    border-radius:15 px;
}

.about-col-2{
    flex-basis:60%;
    text-align: justify;
    justify-content: space-around;
}

.about-col-2 ul li{
  padding: 10px;

}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:white;
    text-align: center;
    padding: 20px;
}
.sub-title-1{
  font-size: 60px;
  font-weight: 600;
  color:white;
  text-align: center;
  padding: 100px;

}







#exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}



.tab-title {
    text-align: center;
    position:relative;
    left: 400;
    width: 20%;
    z-index: 2;
    justify-content: center;
    margin: 0;
}

.tab-contents {
    position: absolute;
    text-align: justify;
    justify-content: center;
}


.tab-title{
    display: flex;
    margin:20px 0 40px;
    
}

.tab-links p{
    font-size: 64px;
}

.tab-links{
    margin-right:50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position:relative;
}


.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background: #5c5bfb;
    position:absolute;
    left:0;
    bottom:-8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width:100%;
}

.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}

.tab-contents ul li h2{
  color:#5c5bfb;
  font-size:22px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.tab-contents ul li p{
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.tab-contents ul li div{
  background-color: #363636;
  padding: 30px 40px;
  border-radius: 20px;
  margin: 30px 0px;
}
.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
 }

 #experience{
  padding: 0 10%;
  position: relative;

 }

 #education{
  padding: 0 10%;
  position: relative;
 }

.highlight-container, .highlight {
    position: relative;
    }
    
.highlight-container {
display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 30%; /* Adjusted height */
  width: 80%; /* Adjusted width */
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #5c5bfb74;
  transform: rotate(2deg);
  top: 2px;
  left: 10%; /* Adjusted left position */
  border-radius: 20%;
  padding: 5px; /* Adjusted padding */
}
  

#portfolio{
  padding: 90px ;
}

.work-list{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:40px;
  margin-top:50px;
}

.work{
    position:relative;
    display: inline-block;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.work img{
    width:100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.layer{
    width:100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0.6),#5c5bfb);
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding:0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 2-px;
    color: #5c5bfb;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width:60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height:100%;
}



.contact-left{
  flex-basis: 35%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.contact-right{
  flex-basis: 60%;
  background-color: #363636;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  justify-content:  center;
  align-items: center;
  box-shadow: 0 0 20px rgba(190, 190, 190, 0.585);

}
.contact-right ul{
  margin-top: 30px;
}
.contact-right ul li{
  padding-top: 30px;
}
.contact-right h1{
  color: #5c5bfb;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding: 20px;
}

 .contact-left p{
    margin-top: 30px;
 }

 .contact-left p i {
    color:#5c5bfb;
    margin-right:15px;
    font-size: 25px;
 }

 .social-icons{
    margin-top:30px;
 }

 .social-icons a{
    text-decoration: none;
    font-size:30px;
    margin-right: 15px;
    color:#ababab;
    display:inline-block;
    transition: transform 0.5s;
 }

 .social-icons a:hover{
    color:#5c5bfb;
    transform: translateY(-5px);
 }

 .btn.btn2{
    display: inline-block;
    background:#5c5bfb;
 }

 .btn.btn2:hover{
    color:#5c5bfb;
    background-color:white;
 }

 .contact-right form{
    width:100%
 }

form input,form textarea{
    width:100%;
    border:0;
    outline:none;
    background:#262626;
    padding:15px;
    margin:15px 0;
    color:#fff;
    font-size:18px;
    border-radius:6px;
}


form .btn2{
    padding:14px 60px;
    font-size:18px;
    margin-top: 20px;    
    cursor:pointer;
}




.contact-left .btn2 {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #5c5bfb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    animation: pulse 2s infinite;
  }
  
.contact-left .btn2:hover {
background-color: white;
color:#5c5bfb;
}

@keyframes pulse {
0% {
    transform: scale(1);
}
50% {
    transform: scale(1.1);
}
100% {
    transform: scale(1);
}
}












.copyright{
    width:100%;
    text-align:center;
    padding:25px 0;
    font-weight: 300;
    margin-top: 20px;

}


.list {

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    text-transform: uppercase;
    position: absolute;
    margin-left: -140px;
    margin-top: 20px;
}
#skills{
  padding-top: 100px;
}
.demo{
  height: 70vh;
}

.demo .list a {
    
    display: block;
    color: #fff;
    text-decoration: none;
}

.list a:hover {
    text-indent: 20px;
}

.list dt, .list dd {

    text-indent: 10px;
    line-height: 55px;
    background: white;
    margin: 0;
    height: 55px;
    width: 270px;
    color: #fff;
}

.list dt {

    /* Since we're hiding elements behind here, we need it in 3d */
    -webkit-transform: translateZ(0.3px);
    -moz-transform: translateZ(0.3px);
    -ms-transform: translateZ(0.3px);
    -o-transform: translateZ(0.3px);
    transform: translateZ(0.3px);

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 15px;
}

.list dd {

    border-top: 1px dashed rgba(255,255,255,0.3);
    line-height: 35px;
    font-size: 11px;
    height: 35px;
    margin: 0;
}




.sashimi dt, .sashimi dd, .sashimi a { background: #5b5be5; }
.new dt, .new dd, .new a { background: #5252c1; }
.maki dt, .maki dd, .maki a { background: #35358c; }
.nigiri dt, .nigiri dd, .nigiri a { background:#1f1f6c ; }

.sashimi a:hover { background: #4b4bf8; }
.new a:hover { background: #3b3bc3; }
.nigiri a:hover { background: #010164; }
.maki a:hover { background: #27278e; }

.nigiri {

    -webkit-transform: perspective(1200px) rotateY(40deg) !important;
    -moz-transform: perspective(1200px) rotateY(40deg) !important;
    -ms-transform: perspective(1200px) rotateY(40deg) !important;
    -o-transform: perspective(1200px) rotateY(40deg) !important;
    transform: perspective(1200px) rotateY(40deg) !important;

    -webkit-transform-origin: 110% 25%;
    -moz-transform-origin: 110% 25%;
    -ms-transform-origin: 110% 25%;
    -o-transform-origin: 110% 25%;
    transform-origin: 110% 25%;

    left: 20%;
}

.maki {

    -webkit-transform: perspective(300px) translateZ(1px) !important;
    -moz-transform: perspective(300px) translateZ(1px) !important;
    -ms-transform: perspective(300px) translateZ(1px) !important;
    -o-transform: perspective(300px) translateZ(1px) !important;
    transform: perspective(300px) translateZ(1px) !important;

    left: 40%;
}

.new {

    -webkit-transform: perspective(600px) translateZ(1px) !important;
    -moz-transform: perspective(600px) translateZ(1px) !important;
    -ms-transform: perspective(600px) translateZ(1px) !important;
    -o-transform: perspective(600px) translateZ(1px) !important;
    transform: perspective(600px) translateZ(1px) !important;

    left: 60%;
}

.sashimi {

    -webkit-transform: perspective(1200px) rotateY(-40deg) !important;
    -moz-transform: perspective(1200px) rotateY(-40deg) !important;
    -ms-transform: perspective(1200px) rotateY(-40deg) !important;
    -o-transform: perspective(1200px) rotateY(-40deg) !important;
    transform: perspective(1200px) rotateY(-40deg) !important;

    -webkit-transform-origin: -10% 25%;
    -moz-transform-origin: -10% 25%;
    -ms-transform-origin: -10% 25%;
    -o-transform-origin: -10% 25%;
    transform-origin: -10% 25%;

    left: 80%;
}


.gallery{
  display:flex;
  padding: 0 10%;
}
#certificate{
  padding-top: 90px;
}  
#gallery-container {
  display: flex;
  justify-content: space-around;
  margin: 100px 10%;
  margin-bottom: 350px;
}
  
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
  @import url(https://fonts.googleapis.com/css?family=Teko:700);
  
  .snip1543 {
    background-color: #fff;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 10px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .snip1543 *,
  .snip1543 *:before,
  .snip1543 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  
  .snip1543 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
  }
  
  .snip1543:before,
  .snip1543:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #5c5bfb;
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  
  .snip1543:before {
    -webkit-transform: skew(30deg) translateX(-80%);
    transform: skew(30deg) translateX(-80%);
  }
  
  .snip1543:after {
    -webkit-transform: skew(-30deg) translateX(-70%);
    transform: skew(-30deg) translateX(-70%);
  }
  
  .snip1543 figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 25px 40% 25px 20px;
  }
  
  .snip1543 figcaption:before,
  .snip1543 figcaption:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5c5bfb;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    content: '';
    opacity: 0.5;
    z-index: -1;
  }
  
  .snip1543 figcaption:before {
    -webkit-transform: skew(30deg) translateX(-100%);
    transform: skew(30deg) translateX(-100%);
  }
  
  .snip1543 figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-90%);
    transform: skew(-30deg) translateX(-90%);
  }
  
  .snip1543 h3,
  .snip1543 p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
  }
  
  .snip1543 h3 {
    font-family: 'Teko', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
  }
  
  .snip1543 p {
    font-size: 0.9em;
  }
  
  .snip1543 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .snip1543:hover h3,
  .snip1543.hover h3,
  .snip1543:hover p,
  .snip1543.hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.9;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  
  .snip1543:hover:before,
  .snip1543.hover:before {
    -webkit-transform: skew(30deg) translateX(-20%);
    transform: skew(30deg) translateX(-20%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
  }
  
  .snip1543:hover:after,
  .snip1543.hover:after {
    -webkit-transform: skew(-30deg) translateX(-10%);
    transform: skew(-30deg) translateX(-10%);
  }
  
  .snip1543:hover figcaption:before,
  .snip1543.hover figcaption:before {
    -webkit-transform: skew(30deg) translateX(-40%);
    transform: skew(30deg) translateX(-40%);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  
  .snip1543:hover figcaption:after,
  .snip1543.hover figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-30%);
    transform: skew(-30deg) translateX(-30%);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }


  .lines {
    position: absolute;
    top: 0;
    left: 50;
    right: 50;
    height: 100%;
    margin: auto;
    width: 90vw;
  }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 55%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  
  .line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #5c5bfb 75%, #cd92f5 100%);
    animation: drop 9s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.2, 0, 0.6, 0.1,0.8);
  }
  
  .line:nth-child(1) {
    margin-left: -43%;
  }
  
  .line:nth-child(1)::after {
    animation-delay: 1s;
  }
  
  .line:nth-child(5) {
    margin-left: 45%;
  }
  
  .line:nth-child(5)::after {
    animation-delay: 0.5s;
  }

  .line:nth-child(2) {
    margin-left: 23%;
  }
  
  .line:nth-child(2)::after {
    animation-delay: 0.5s;
  }

  .line:nth-child(4) {
    margin-left: -22%;
  }
  
  .line:nth-child(2)::after {
    animation-delay: 0.5s;
  }
  
  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }

  .tooltip {
    position: relative;
    display:flex;
  }
  
  
.tooltip .tooltiptext {
visibility: hidden;
width: 400px; 
background-color: #373737a0;
color: white;
text-align: center;
border-radius: 6px;
padding: 10px 5%; 
position: absolute; 
top: 100%; 
left: 50%; 
transform: translate(-50%, 0%); 
z-index: 1;
opacity: 0;
transition: opacity 1s;
word-wrap: break-word; 
}
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;

  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  





.contact-right a:hover {
color: #fff;
box-shadow: inset 650px 0 0 0 #5c5bfb;;
}

/* Presentational styles */
.contact-right a {
color: white;
font-family: 'Poppins', sans-serif;
font-size: 27px;
font-weight: 700;
line-height: 1.5;
text-decoration-style:dotted;
text-decoration-thickness: 2px;
box-shadow: inset 0 0 0 0 white;
color: #ffffff;
padding: 0 .25rem;
margin: 0 -.25rem;
transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

footer{
  margin-top: 70px;
  background: #262626;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}
